APScheduler~=3.11.0
bidict~=0.23.1
blinker~=1.9.0
certifi~=2025.4.26
charset-normalizer~=3.4.2
click~=8.2.0
dnspython~=2.7.0
eventlet~=0.39.1
Flask~=3.1.1
Flask-PyMongo~=2.3.0
Flask-SocketIO~=5.5.1
greenlet~=3.2.2
importlib-metadata~=8.7.0
itsdangerous~=2.2.0
Jinja2~=3.1.6
MarkupSafe~=3.0.2
paho-mqtt==2.1.0
python-engineio==4.12.1
python-socketio==5.13.0
pytz==2025.2
PyYAML==6.0.2
requests==2.32.3
requests-mock==1.12.1
six==1.17.0
tzlocal==5.3.1
urllib3==2.4.0
Werkzeug==3.1.3