[Unit]
Description=Oakestra NetManager Service
After=network.target
StartLimitIntervalSec=0
[Service]
Type=simple
Restart=always
RestartSec=5
User=root
ExecStart=NetManager
StandardOutput=file:/var/log/netmanager/netmanager.log
StandardError=file:/var/log/netmanager/netmanager.log

[Install]
WantedBy=multi-user.target